@charset "UTF-8";
/*****
* @Author:  hubary
* @Email:   hubary@qq.com
* @对外提供以下样式
* @margin   mt-x, mr-x, mb-x, ml-x
* @padding  pt-x, pr-x, pb-x, pl-x
* 使用方式  @include createSpace('hubary',(5, 10, 15, 16, 20))
*@params 1 自定义前缀
*@params 2 自定义间距
*****/
/* margin/padding-top  5, 10, 15, 20px*/
.mt-5 {
  margin-top: 5px;
}

.pt-5 {
  padding-top: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.pt-10 {
  padding-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.pt-15 {
  padding-top: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.pt-20 {
  padding-top: 20px;
}

/* margin/padding-right  5, 10, 15, 20px*/
.mr-5 {
  margin-right: 5px;
}

.pr-5 {
  padding-right: 5px;
}

.mr-10 {
  margin-right: 10px;
}

.pr-10 {
  padding-right: 10px;
}

.mr-15 {
  margin-right: 15px;
}

.pr-15 {
  padding-right: 15px;
}

.mr-20 {
  margin-right: 20px;
}

.pr-20 {
  padding-right: 20px;
}

/* margin/padding-bottom  5, 10, 15, 20px*/
.mb-5 {
  margin-bottom: 5px;
}

.pb-5 {
  padding-bottom: 5px;
}

.mb-10 {
  margin-bottom: 10px;
}

.pb-10 {
  padding-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.pb-15 {
  padding-bottom: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.pb-20 {
  padding-bottom: 20px;
}

/* margin/padding-left  5, 10, 15, 20px*/
.ml-5 {
  margin-left: 5px;
}

.pl-5 {
  padding-left: 5px;
}

.ml-10 {
  margin-left: 10px;
}

.pl-10 {
  padding-left: 10px;
}

.ml-15 {
  margin-left: 15px;
}

.pl-15 {
  padding-left: 15px;
}

.ml-20 {
  margin-left: 20px;
}

.pl-20 {
  padding-left: 20px;
}
